.scroll-top{

position:fixed;

bottom:30px;

right:30px;

width:55px;

height:55px;

border:none;

border-radius:50%;

background:#dc3545;

color:#fff;

font-size:20px;

display:flex;

justify-content:center;

align-items:center;

cursor:pointer;

box-shadow:0 15px 30px rgba(220,53,69,.35);

opacity:0;

visibility:hidden;

transform:translateY(30px);

transition:.35s;

z-index:999;

}

.scroll-top.show{

opacity:1;

visibility:visible;

transform:translateY(0);

}

.scroll-top:hover{

background:#111;

transform:translateY(-5px);

}