:root{

--primary:#E53935;

--secondary:#0D6EFD;

--dark:#212529;

--light:#F8F9FA;

--white:#ffffff;

--border:#E5E7EB;

--shadow:0 10px 25px rgba(0,0,0,.08);

--radius:18px;

}

body{

font-family:'Poppins',sans-serif;

background:var(--light);

color:var(--dark);

overflow-x:hidden;

}

*{

margin:0;

padding:0;

box-sizing:border-box;

}

a{

text-decoration:none;

}

img{

max-width:100%;

display:block;

}