.top-header{

background:#0D6EFD;

color:#fff;

font-size:14px;

}

.top-header .container{

display:flex;

justify-content:space-between;

align-items:center;

padding:8px 0;

flex-wrap:wrap;

}

.top-left,
.top-right{

display:flex;

gap:25px;

align-items:center;

}

.top-header span{

display:flex;

align-items:center;

gap:8px;

}

@media(max-width:768px){

.top-header{

display:none;

}

}